
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}

audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}

a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}

dfn{font-style:italic}mark{background:#ff0;color:#000}

small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}

sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}

code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}

button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}

fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}

legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}

[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}


/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.sA-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.sA-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}

.sA-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.sA-table,.sA-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.sA-table-all{border:1px solid #ccc}
.sA-bordered tr,.sA-table-all tr{border-bottom:1px solid #ddd}.sA-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.sA-table-all tr:nth-child(odd){background-color:#fff}.sA-table-all tr:nth-child(even){background-color:#f1f1f1}
.sA-hoverable tbody tr:hover,.sA-ul.sA-hoverable li:hover{background-color:#ccc}.sA-centered tr th,.sA-centered tr td{text-align:center}
.sA-table td,.sA-table th,.sA-table-all td,.sA-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.sA-table th:first-child,.sA-table td:first-child,.sA-table-all th:first-child,.sA-table-all td:first-child{padding-left:16px}
.sA-btn,.sA-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.sA-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.sA-btn,.sA-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.sA-disabled,.sA-btn:disabled,.sA-button:disabled{cursor:not-allowed;opacity:0.3}.sA-disabled *,:disabled *{pointer-events:none}
.sA-btn.sA-disabled:hover,.sA-btn:disabled:hover{box-shadow:none}
.sA-badge,.sA-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.sA-badge{border-radius:50%}
.sA-ul{list-style-type:none;padding:0;margin:0}.sA-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.sA-ul li:last-child{border-bottom:none}
.sA-tooltip,.sA-display-container{position:relative}.sA-tooltip .sA-text{display:none}.sA-tooltip:hover .sA-text{display:inline-block}
.sA-ripple:active{opacity:0.5}.sA-ripple{transition:opacity 0s}
.sA-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.sA-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.sA-dropdown-click,.sA-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.sA-dropdown-hover:hover .sA-dropdown-content{display:block}
.sA-dropdown-hover:first-child,.sA-dropdown-click:hover{background-color:#ccc;color:#000}
.sA-dropdown-hover:hover > .sA-button:first-child,.sA-dropdown-click:hover > .sA-button:first-child{background-color:#ccc;color:#000}
.sA-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.sA-check,.sA-radio{width:24px;height:24px;position:relative;top:6px}
.sA-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.sA-bar-block .sA-dropdown-hover,.sA-bar-block .sA-dropdown-click{width:100%}
.sA-bar-block .sA-dropdown-hover .sA-dropdown-content,.sA-bar-block .sA-dropdown-click .sA-dropdown-content{min-width:100%}
.sA-bar-block .sA-dropdown-hover .sA-button,.sA-bar-block .sA-dropdown-click .sA-button{width:100%;text-align:left;padding:8px 16px}
.sA-main,#main{transition:margin-left .4s}
.sA-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.sA-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.sA-bar{width:100%;overflow:hidden}.sA-center .sA-bar{display:inline-block;width:auto}
.sA-bar .sA-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.sA-bar .sA-dropdown-hover,.sA-bar .sA-dropdown-click{position:static;float:left}
.sA-bar .sA-button{white-space:normal}
.sA-bar-block .sA-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.sA-bar-block.sA-center .sA-bar-item{text-align:center}.sA-block{display:block;width:100%}
.sA-responsive{display:block;overflow-x:auto}
.sA-container:after,.sA-container:before,.sA-panel:after,.sA-panel:before,.sA-row:after,.sA-row:before,.sA-row-padding:after,.sA-row-padding:before,
.sA-cell-row:before,.sA-cell-row:after,.sA-clear:after,.sA-clear:before,.sA-bar:before,.sA-bar:after{content:"";display:table;clear:both}
.sA-col,.sA-half,.sA-third,.sA-twothird,.sA-threequarter,.sA-quarter{float:left;width:100%}
.sA-col.s1{width:8.33333%}.sA-col.s2{width:16.66666%}.sA-col.s3{width:24.99999%}.sA-col.s4{width:33.33333%}
.sA-col.s5{width:41.66666%}.sA-col.s6{width:49.99999%}.sA-col.s7{width:58.33333%}.sA-col.s8{width:66.66666%}
.sA-col.s9{width:74.99999%}.sA-col.s10{width:83.33333%}.sA-col.s11{width:91.66666%}.sA-col.s12{width:99.99999%}

@media (min-width:601px){.sA-col.m1{width:8.33333%}.sA-col.m2{width:16.66666%}.sA-col.m3,.sA-quarter{width:24.99999%}.sA-col.m4,.sA-third{width:33.33333%}

.sA-col.m5{width:41.66666%}.sA-col.m6,.sA-half{width:49.99999%}.sA-col.m7{width:58.33333%}.sA-col.m8,.sA-twothird{width:66.66666%}
.sA-col.m9,.sA-threequarter{width:74.99999%}.sA-col.m10{width:83.33333%}.sA-col.m11{width:91.66666%}.sA-col.m12{width:99.99999%}}

@media (min-width:993px){.sA-col.l1{width:8.33333%}.sA-col.l2{width:16.66666%}.sA-col.l3{width:24.99999%}.sA-col.l4{width:33.33333%}

.sA-col.l5{width:41.66666%}.sA-col.l6{width:49.99999%}.sA-col.l7{width:58.33333%}.sA-col.l8{width:66.66666%}
.sA-col.l9{width:74.99999%}.sA-col.l10{width:83.33333%}.sA-col.l11{width:91.66666%}.sA-col.l12{width:99.99999%}}
.sA-rest{overflow:hidden}
.sA-content,.sA-auto{margin-left:auto;margin-right:auto}  
.sA-content{max-width:980px}.sA-auto{max-width:1140px}
.sA-cell-row{display:table;width:100%}.sA-cell{display:table-cell}
.sA-cell-top{vertical-align:top}.sA-cell-middle{vertical-align:middle}.sA-cell-bottom{vertical-align:bottom}
.sA-hide{display:none!important}.sA-show-block,.sA-show{display:block!important}.sA-show-inline-block{display:inline-block!important}

@media (max-width:1205px){.sA-auto{max-width:95%}}
@media (max-width:600px){.sA-modal-content{margin:0 10px;width:auto!important}.sA-modal{padding-top:30px}
    
.sA-dropdown-hover.sA-mobile .sA-dropdown-content,.sA-dropdown-click.sA-mobile .sA-dropdown-content{position:relative}	
.sA-hide-small{display:none!important}.sA-mobile{display:block;width:100%!important}.sA-bar-item.sA-mobile,.sA-dropdown-hover.sA-mobile,.sA-dropdown-click.sA-mobile{text-align:center}
.sA-dropdown-hover.sA-mobile,.sA-dropdown-hover.sA-mobile .sA-btn,.sA-dropdown-hover.sA-mobile .sA-button,.sA-dropdown-click.sA-mobile,.sA-dropdown-click.sA-mobile .sA-btn,.sA-dropdown-click.sA-mobile .sA-button{width:100%}}

@media (max-width:768px){.sA-modal-content{width:500px}.sA-modal{padding-top:50px}}
@media (min-width:993px){.sA-modal-content{width:900px}.sA-hide-large{display:none!important}.sA-sidebar.sA-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.sA-hide-medium{display:none!important}}
@media (max-width:992px){.sA-sidebar.sA-collapse{display:none}.sA-main{margin-left:0!important;margin-right:0!important}.sA-auto{max-width:100%}}

.sA-top,.sA-bottom{position:fixed;width:100%;z-index:1}.sA-top{top:0}.sA-bottom{bottom:0}
.sA-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.sA-display-topleft{position:absolute;left:0;top:0}.sA-display-topright{position:absolute;right:0;top:0}
.sA-display-bottomleft{position:absolute;left:0;bottom:0}.sA-display-bottomright{position:absolute;right:0;bottom:0}
.sA-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.sA-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.sA-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.sA-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.sA-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.sA-display-container:hover .sA-display-hover{display:block}.sA-display-container:hover span.sA-display-hover{display:inline-block}.sA-display-hover{display:none}
.sA-display-position{position:absolute}
.sA-circle{border-radius:50%}
.sA-round-small{border-radius:2px}.sA-round,.sA-round-medium{border-radius:4px}.sA-round-large{border-radius:8px}.sA-round-xlarge{border-radius:16px}.sA-round-xxlarge{border-radius:32px}
.sA-row-padding,.sA-row-padding>.sA-half,.sA-row-padding>.sA-third,.sA-row-padding>.sA-twothird,.sA-row-padding>.sA-threequarter,.sA-row-padding>.sA-quarter,.sA-row-padding>.sA-col{padding:0 8px}
.sA-container,.sA-panel{padding:0.01em 16px}.sA-panel{margin-top:16px;margin-bottom:16px}
.sA-code,.sA-codespan{font-family:Consolas,"courier new";font-size:16px}
.sA-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.sA-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.sA-card,.sA-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.sA-card-4,.sA-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.sA-spin{animation:sA-spin 2s infinite linear}@keyframes sA-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.sA-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.sA-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.sA-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.sA-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.sA-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.sA-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.sA-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.sA-animate-input{transition:width 0.4s ease-in-out}.sA-animate-input:focus{width:100%!important}
.sA-opacity,.sA-hover-opacity:hover{opacity:0.60}.sA-opacity-off,.sA-hover-opacity-off:hover{opacity:1}
.sA-opacity-max{opacity:0.25}.sA-opacity-min{opacity:0.75}
.sA-greyscale-max,.sA-grayscale-max,.sA-hover-greyscale:hover,.sA-hover-grayscale:hover{filter:grayscale(100%)}
.sA-greyscale,.sA-grayscale{filter:grayscale(75%)}.sA-greyscale-min,.sA-grayscale-min{filter:grayscale(50%)}
.sA-sepia{filter:sepia(75%)}.sA-sepia-max,.sA-hover-sepia:hover{filter:sepia(100%)}.sA-sepia-min{filter:sepia(50%)}
.sA-tiny{font-size:10px!important}.sA-small{font-size:12px!important}.sA-medium{font-size:15px!important}.sA-large{font-size:18px!important}
.sA-xlarge{font-size:24px!important}.sA-xxlarge{font-size:36px!important}.sA-xxxlarge{font-size:48px!important}.sA-jumbo{font-size:64px!important}
.sA-left-align{text-align:left!important}.sA-right-align{text-align:right!important}.sA-justify{text-align:justify!important}.sA-center{text-align:center!important}
.sA-border-0{border:0!important}.sA-border{border:1px solid #ccc!important}
.sA-border-top{border-top:1px solid #ccc!important}.sA-border-bottom{border-bottom:1px solid #ccc!important}
.sA-border-left{border-left:1px solid #ccc!important}.sA-border-right{border-right:1px solid #ccc!important}
.sA-topbar{border-top:6px solid #ccc!important}.sA-bottombar{border-bottom:6px solid #ccc!important}
.sA-leftbar{border-left:6px solid #ccc!important}.sA-rightbar{border-right:6px solid #ccc!important}
.sA-section,.sA-code{margin-top:16px!important;margin-bottom:16px!important}
.sA-margin{margin:16px!important}.sA-margin-top{margin-top:16px!important}.sA-margin-bottom{margin-bottom:16px!important}
.sA-margin-left{margin-left:16px!important}.sA-margin-right{margin-right:16px!important}
.sA-padding-small{padding:4px 8px!important}.sA-padding{padding:8px 16px!important}.sA-padding-large{padding:12px 24px!important}
.sA-padding-16{padding-top:16px!important;padding-bottom:16px!important}.sA-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.sA-padding-32{padding-top:32px!important;padding-bottom:32px!important}.sA-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.sA-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.sA-left{float:left!important}.sA-right{float:right!important}
.sA-button:hover{color:#000!important;background-color:#ccc!important}
.sA-transparent,.sA-hover-none:hover{background-color:transparent!important}
.sA-hover-none:hover{box-shadow:none!important}



/* Colors */
.sA-amber,.sA-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.sA-aqua,.sA-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.sA-blue,.sA-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.sA-light-blue,.sA-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.sA-brown,.sA-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.sA-cyan,.sA-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.sA-blue-grey,.sA-hover-blue-grey:hover,.sA-blue-gray,.sA-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.sA-green,.sA-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.sA-light-green,.sA-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.sA-indigo,.sA-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.sA-khaki,.sA-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.sA-lime,.sA-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.sA-orange,.sA-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.sA-deep-orange,.sA-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.sA-pink,.sA-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.sA-purple,.sA-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.sA-deep-purple,.sA-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.sA-red,.sA-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.sA-sand,.sA-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.sA-teal,.sA-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.sA-yellow,.sA-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.sA-white,.sA-hover-white:hover{color:#000!important;background-color:#fff!important}
.sA-black,.sA-hover-black:hover{color:#fff!important;background-color:#000!important}
.sA-grey,.sA-hover-grey:hover,.sA-gray,.sA-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.sA-light-grey,.sA-hover-light-grey:hover,.sA-light-gray,.sA-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.sA-dark-grey,.sA-hover-dark-grey:hover,.sA-dark-gray,.sA-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.sA-pale-red,.sA-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.sA-pale-green,.sA-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.sA-pale-yellow,.sA-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.sA-pale-blue,.sA-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.sA-text-amber,.sA-hover-text-amber:hover{color:#ffc107!important}
.sA-text-aqua,.sA-hover-text-aqua:hover{color:#00ffff!important}
.sA-text-blue,.sA-hover-text-blue:hover{color:#2196F3!important}
.sA-text-light-blue,.sA-hover-text-light-blue:hover{color:#87CEEB!important}
.sA-text-brown,.sA-hover-text-brown:hover{color:#795548!important}
.sA-text-cyan,.sA-hover-text-cyan:hover{color:#00bcd4!important}
.sA-text-blue-grey,.sA-hover-text-blue-grey:hover,.sA-text-blue-gray,.sA-hover-text-blue-gray:hover{color:#607d8b!important}
.sA-text-green,.sA-hover-text-green:hover{color:#4CAF50!important}
.sA-text-light-green,.sA-hover-text-light-green:hover{color:#8bc34a!important}
.sA-text-indigo,.sA-hover-text-indigo:hover{color:#3f51b5!important}
.sA-text-khaki,.sA-hover-text-khaki:hover{color:#b4aa50!important}
.sA-text-lime,.sA-hover-text-lime:hover{color:#cddc39!important}
.sA-text-orange,.sA-hover-text-orange:hover{color:#ff9800!important}
.sA-text-deep-orange,.sA-hover-text-deep-orange:hover{color:#ff5722!important}
.sA-text-pink,.sA-hover-text-pink:hover{color:#e91e63!important}
.sA-text-purple,.sA-hover-text-purple:hover{color:#9c27b0!important}
.sA-text-deep-purple,.sA-hover-text-deep-purple:hover{color:#673ab7!important}
.sA-text-red,.sA-hover-text-red:hover{color:#f44336!important}
.sA-text-sand,.sA-hover-text-sand:hover{color:#fdf5e6!important}
.sA-text-teal,.sA-hover-text-teal:hover{color:#009688!important}
.sA-text-yellow,.sA-hover-text-yellow:hover{color:#d2be0e!important}
.sA-text-white,.sA-hover-text-white:hover{color:#fff!important}
.sA-text-black,.sA-hover-text-black:hover{color:#000!important}
.sA-text-grey,.sA-hover-text-grey:hover,.sA-text-gray,.sA-hover-text-gray:hover{color:#757575!important}
.sA-text-light-grey,.sA-hover-text-light-grey:hover,.sA-text-light-gray,.sA-hover-text-light-gray:hover{color:#f1f1f1!important}
.sA-text-dark-grey,.sA-hover-text-dark-grey:hover,.sA-text-dark-gray,.sA-hover-text-dark-gray:hover{color:#3a3a3a!important}
.sA-border-amber,.sA-hover-border-amber:hover{border-color:#ffc107!important}
.sA-border-aqua,.sA-hover-border-aqua:hover{border-color:#00ffff!important}
.sA-border-blue,.sA-hover-border-blue:hover{border-color:#2196F3!important}
.sA-border-light-blue,.sA-hover-border-light-blue:hover{border-color:#87CEEB!important}
.sA-border-brown,.sA-hover-border-brown:hover{border-color:#795548!important}
.sA-border-cyan,.sA-hover-border-cyan:hover{border-color:#00bcd4!important}
.sA-border-blue-grey,.sA-hover-border-blue-grey:hover,.sA-border-blue-gray,.sA-hover-border-blue-gray:hover{border-color:#607d8b!important}
.sA-border-green,.sA-hover-border-green:hover{border-color:#4CAF50!important}
.sA-border-light-green,.sA-hover-border-light-green:hover{border-color:#8bc34a!important}
.sA-border-indigo,.sA-hover-border-indigo:hover{border-color:#3f51b5!important}
.sA-border-khaki,.sA-hover-border-khaki:hover{border-color:#f0e68c!important}
.sA-border-lime,.sA-hover-border-lime:hover{border-color:#cddc39!important}
.sA-border-orange,.sA-hover-border-orange:hover{border-color:#ff9800!important}
.sA-border-deep-orange,.sA-hover-border-deep-orange:hover{border-color:#ff5722!important}
.sA-border-pink,.sA-hover-border-pink:hover{border-color:#e91e63!important}
.sA-border-purple,.sA-hover-border-purple:hover{border-color:#9c27b0!important}
.sA-border-deep-purple,.sA-hover-border-deep-purple:hover{border-color:#673ab7!important}
.sA-border-red,.sA-hover-border-red:hover{border-color:#f44336!important}
.sA-border-sand,.sA-hover-border-sand:hover{border-color:#fdf5e6!important}
.sA-border-teal,.sA-hover-border-teal:hover{border-color:#009688!important}
.sA-border-yellow,.sA-hover-border-yellow:hover{border-color:#ffeb3b!important}
.sA-border-white,.sA-hover-border-white:hover{border-color:#fff!important}
.sA-border-black,.sA-hover-border-black:hover{border-color:#000!important}
.sA-border-grey,.sA-hover-border-grey:hover,.sA-border-gray,.sA-hover-border-gray:hover{border-color:#9e9e9e!important}
.sA-border-light-grey,.sA-hover-border-light-grey:hover,.sA-border-light-gray,.sA-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.sA-border-dark-grey,.sA-hover-border-dark-grey:hover,.sA-border-dark-gray,.sA-hover-border-dark-gray:hover{border-color:#616161!important}
.sA-border-pale-red,.sA-hover-border-pale-red:hover{border-color:#ffe7e7!important}.sA-border-pale-green,.sA-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.sA-border-pale-yellow,.sA-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.sA-border-pale-blue,.sA-hover-border-pale-blue:hover{border-color:#e7ffff!important}